.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px; /* Định rõ chiều cao */
  z-index: 1000;
  background-color: #181818; /* Giữ màu nền để không bị trong suốt */
}

.main-container {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
  padding-top: 60px;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  border-radius: 2%;
  
}

.sidebar {
  width: 240px;
  position: fixed;
  top: 60px;
  bottom: 60px;
  overflow-y: auto;
}

.rightbar {
  width: 300px;
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 60px;
  overflow-y: auto;
}

.bottom-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #181818;
}
